DATABASE_URL=
N8N_URL=http://localhost:5678/

GOOGLE_GENERATIVE_AI_API_KEY=
LMNR_PROJECT_API_KEY=
N8N_API_KEY=

TEXT_EMBEDDING_MODEL=gemini-embedding-001
GENERAL_MODEL=gemini-3.1-flash-lite-preview
WORKFLOW_MODEL=gemini-3.5-flash
CRITIC_MODEL=gemini-2.5-flash

JWT_SECRET=